<app-navbar></app-navbar>
<div class="container">
  <div class="row">
  <div class="col-md-10"> <h2>Lista de Usuarios</h2></div>
  <div class="col-md-2">
    <button class="btn btn-primary" routerLink="/nuevo-usuario"> Nuevo usuario</button>
  </div></div>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">TipoId</th>
          <th scope="col">Identificación</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Edad</th>
          <th scope="col">Dirección</th>
          <th scope="col">Telefono</th>
          <th scope="col">Accion</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of usuarios">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.tipoId }}</td>
          <td>{{ item.identificacion }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.apellidos }}</td>
          <td>{{ item.edad }}</td>
          <td>{{ item.direccion }}</td>
          <td>{{ item.telefono }}</td>
          <td>
            <button class="btn btn-sm btn-warning me-2" >Edit</button
            ><button class="btn btn-sm btn-danger" (click)="deleteUsuario(item.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
