<app-navbar></app-navbar>
<div class="container">
  <form action="">
    <form >
      <div class="form-floating mb-3">
        <!-- <input type="email" class="form-control" formControlName="email"  placeholder="name@example.com"> -->
        <select class="form-control" name="" id="">
          <option *ngFor="let item of tipoId" value="{{item.tipoId}}">{{item.tipoId}}</option>
        </select>
        <label for="floatingInput">Tipo id</label>
      </div>
      <div class="form-floating">
        <input type="tex" class="form-control" formControlName="password" placeholder="Password">
        <label for="floatingPassword">Identificación</label>
      </div>
      <div class="d-grid gap-2 mt-2 mb-3">
        <button  type="submit" class="btn btn-primary btn-lg">Ingresar</button>
    </div>

    </form>
  </form>
</div>
